.error-body{
    background-color: var(--color-gray-blue);
}
.error-wrapper {
    padding-top: 30vh;
}
.error-wrapper h2{
    color: var(--color-red);
    font-size: 8rem;
    background-color: var(--color-dark-gray1);
    padding: 0 2rem;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.error-wrapper h3{
    background-color: var(--color-dark-gray1);
    padding: 2rem;
    padding-top: 0;
    border-radius: 2rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}