.navbar{
    background-color: var(--color-gray-blue);
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-title{
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-light-gray2);
    text-decoration: none;
    padding-right: 1rem;
}
.navbar-objects{
    background-color: var(--color-gray-blue);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
.navbar-object{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-light-gray2);
    text-decoration: none;
}
.navbar-object:hover{
    transform: translate(0, 0.05rem);
}
.navbar-user{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0 0.25rem 0 0.5rem;
    height: 100%;
    gap: 0.25rem;
    background-color: var(--color-gray);
    cursor: pointer;
}
.navbar-user:hover{
    transform: scale(1.1) translate(0, 0.1rem);
}
.navbar-username{
    font-size: 1.5rem;
    font-weight: 500;
}
.navbar-user-button{
    height: 100%;
    aspect-ratio: 1;
    padding: 0;
    border: none;
    background-color: transparent;
}
.navbar-userlogo{
    height: 100%;
    width: 100%;
}

@media (max-width: 500px){
    .navbar-user{
        padding-left: 0.25rem;
    }
    .navbar-username{
        display: none;
    }
}