
<link rel="stylesheet" href="css/components/navbar.css">
<div class="navbar">
    <h1>Dashboard</h1>
    <div class="navbar-user">
        <p class="navbar-username">Snoweuph</p>
        <button class="navbar-user-button">
            <img class="navbar-userlogo" src="img/account_circle.svg" alt="">
        </button>
    </div>
</div>