
<link rel="stylesheet" href="<%= relPath %>/css/components/navbar.css">
<div class="navbar">
    <h1>Dashboard</h1>
    <div class="navbar-user">
        <% if (false) { %>
            
        <% }else { %>
            <p class="navbar-username">Login</p>
            <button class="navbar-user-button">
                <img class="navbar-userlogo" src="<%= relPath %>/img/account_circle.svg">
            </button>
        <% } %>
    </div>
</div>