<%- include('../base/header.ejs') %>
<title>Status</title>
<body>
    <%- include('../components/navbar.ejs') %>
    <div class="wrapper-center">
        <h2>Some Status later here</h2>
        <h3>this website does not exist yet</h3>

    </div>
</body>