name: Eslint Bot
on: [push, pull_request]

defaults:
  run:
    working-directory: ./src/bot

jobs:
  FixLinting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16.x'
    - name: setup bot
      run: |
        npm ci
    - name: run eslint
      run: |
        npm run lint:fix