<%- include('../../base/header.ejs') %>
<link rel="stylesheet" href="<%= relPath %>static/css/error.css">
<title>403 - Forbidden</title>
<body class="error-body">
    <div class="wrapper-center error-wrapper">
        <h2>403</h2>
        <h3>you have no acces to this site</h3>
    </div>
</body>