<%- include('../../base/header.ejs') %>
<link rel="stylesheet" href="css/error.css">
<title>404 - Not Found</title>
<body class="error-body">
    <div class="wrapper-center error-wrapper">
        <h2>404</h2>
        <h3>this website does not exist</h3>
    </div>
</body>